* {
  margin: 10;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: F2EFE7;
  align-items: center;
  display: flex;
}
.btn-container {
  background-color: #9acbd0;
  width: 100%;
  height: 100px;
  margin: 50px 10px 20px 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.button {
  border: none;
  background-color: #48a6a7;
  color: #006a71;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  border: 2px solid #006a71;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.button:hover {
  border: 2px solid black;
  background-color: rgb(39, 216, 187);
  color: black;
}
.modal {
  position: absolute;
  margin-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  color: #006a71;
  background-color: #9acbd0;
  padding: 50px 30px 30px 30px;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem #000f05d5;
  z-index: 1;
}
.hover {
  background-color: #ff0b547d;
  color: rgb(255, 255, 255);
}
h1 {
  color: green;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
p {
  margin-top: 50px;
  font-size: 20px;
  text-align: justify;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.close-modal {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background-color: inherit;
  color: rgba(19, 131, 60, 0.714);
  font-size: 20px;
}
.close-modal:hover {
  color: rgb(0, 0, 0);
}
.none {
  display: none;
}
.blur {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vw;
  backdrop-filter: blur(5px);
  background-color: #3d8fd769;
}
